{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^vitest$", "^node:", "<THIRD_PARTY_MODULES>", "^astro-pdf(/.*)?$", "^[./]"],
    "importOrderSeparation": true
}
