name: CI

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    node-version: 20

jobs:
    lint:
        name: 'Lint'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup node@${{ env.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ env.node-version }}
                  cache: 'npm'

            - name: Install Dependencies
              run: npm install

            - name: Lint
              run: npm run lint

    format:
        name: 'Check format'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup node@${{ env.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ env.node-version }}
                  cache: 'npm'

            - name: Install Dependencies
              run: npm install

            - name: Check Format
              run: npm run format:check

    test:
        name: 'Test: ${{ matrix.os }} (node@${{ matrix.node-version }})'
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                node-version: [20]
                include:
                    - os: ubuntu-latest
                      node-version: 18
                    - os: ubuntu-latest
                      node-version: 22
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Configure AppArmor profile for Puppeteer (Linux only)
              if: matrix.os == 'ubuntu-latest'
              run: |
                  PUPPETEER_SYSTEM=$HOME/.cache/puppeteer/chrome/*/chrome-linux64/chrome
                  PUPPETEER_LOCAL=$PWD/test/fixtures/*/node_modules/.astro/chrome/*/chrome-linux64/chrome
                  sudo tee /etc/apparmor.d/chrome-dev-builds <<EOF
                  abi <abi/4.0>,
                  include <tunables/global>

                  profile chrome $PUPPETEER_SYSTEM flags=(unconfined) {
                    userns,

                    # Site-specific additions and overrides. See local/README for details.
                    include if exists <local/chrome>
                  }
                  
                  profile chrome-local $PUPPETEER_LOCAL flags=(unconfined) {
                    userns,

                    # Site-specific additions and overrides. See local/README for details.
                    include if exists <local/chrome>
                  }
                  EOF
                  sudo apparmor_parser -r /etc/apparmor.d/chrome-dev-builds
                  sudo service apparmor reload

            - name: Setup node@${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - name: Install Dependencies
              run: npm install

            - name: Check executablePath
              run: node <<< "console.log(require('puppeteer').executablePath())"

            - name: Build Package
              run: npm run build

            - name: Run tests
              run: npm test
